@import '../../styles/settings.scss';


.nav {
    background-color: darken($color-dark, 3%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

i {
    font-size: 24px;
    color: white;
    margin-top: 15px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li a {
    color: white;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
}

